{% extends "base.html" %}

{% block page_title %}
  {{ page_title }}
{% endblock %}

{% block content %}
<div class="mt-5">
    <h1 class="ml-3 display-4 mb-3">About us</h1>
    <p class="ml-3">My name is <a href="https://github.com/simplyalde">Aldiyar</a> and thank you for using this Website.</p>
    <h2 class="ml-3">Why?</h2>
    <p class="ml-3">
        Each semester starts with the registration of subjects. It is a struggle to choose the right professor. Here we come :). On our website you can see others opinion on your potential professors.
    </p>
    <p class="ml-3">
        In the end of each semester, students give feedback to the schools. However, they are not public and we do not have access to them. It is unclear what is done with our feedback. But here you can leave you honest opinion and may be it will make an effect. 
    </p>
    <h2 class="ml-3">Found bugs and want to help</h2>
    <p class="ml-3">
        If you find a bug/typo or you have an idea how to improve the Website just email us: <strong>evaluateprofs@gmail.com</strong>
    </p>
    <p class="ml-3">
        If you want to help us financially, since hosting costs some money, or you just want to buy me some coffee here is my card number: 4390 8722 2197 0223.
    </p>
    <p class="ml-3">
        There are plenty of good developers among you and we need your help. Probably soon there will be a link to the repo with the source code so you can contribute to our service. 
    </p>
    <h2>Thanks</h2>
    <p class="ml-3">
        I want to thank ma people who helped and gave feedback during development: Manat Tugelbay, <a href="https://vk.com/id179624249">Bekarys Gabdrakhymov</a>, <a href="https://vk.com/id155290957">Madiyar Sharipov</a>, <a href="https://vk.com/olzhas_shaikenov">Olzhas Shaikenov</a>. 
    </p>
</div>
{% endblock %}