{% extends "base.html" %}

{% block page_title %}
  {{ page_title }}
{% endblock %}

{% block content %}
<div class="mt-5">
    <h1 class="ml-3 display-4 mb-3">Terms of service:</h1>
    <h2 class="ml-3">Thank you for using evaluateprofs</h2>
    <p class="ml-3">
        Please read these Terms carefully, and contact us if you have any questions. By accessing or using our Service, you agree to be bound by these Terms.
    </p>
    <h2 class="ml-3">Account</h2>
    <p class="ml-3">
        You must provide a valid email address in order to complete the signup process.You must be a human to create an Account. Accounts registered by "bots" or other automated methods are not permitted. One person or legal entity may maintain no more than one Account. Your login may only be used by one person — i.e., a single login may not be shared by multiple people.
    </p>
    <p class="ml-3">
        You are responsible for keeping your Account secure while you use our Service. You are responsible for all content posted and activity that occurs under your Account (even when content is posted by others who have Accounts under your Account). You are responsible for maintaining the security of your Account and password. We cannot and will not be liable for any loss or damage from your failure to comply with this security obligation. You will promptly notify us if you become aware of any unauthorized use of, or access to, our Service through your Account, including any unauthorized use of your password or Account.
    </p>
    <h2 class="ml-3">Privacy</h2>
    <p class="ml-3">
        When you sign up for or use Service, you give us certain information voluntarily. This includes your name, email address, comments, anonymous posts, and any other information you give us. 
    </p>
    <p class="ml-3">
        If we have reason to believe the contents of anonymous posts are in violation of the law or of these Terms, we have the right to access, review, and remove them.
    </p>
    <h2 class="ml-3">Acceptable Use</h2>
    <p class="ml-3">
        Your use of the Website and Service must not violate any applicable laws, including copyright or trademark laws, export control or sanctions laws, or other laws in your jurisdiction. You are responsible for making sure that your use of the Service is in compliance with laws and any applicable regulations.
    </p>
    <p class="ml-3">
        You agree that you will not under any circumstances upload, post, host, or transmit any content that:
    </p>
    <ul class="ml-3">
        <li>is unlawful or promotes unlawful activities;</li>
        <li>is or contains sexually obscene content;</li>
        <li>is libelous, defamatory, or fraudulent;</li>
        <li>is discriminatory or abusive toward any individual or group;</li>
        <li>gratuitously depicts or glorifies violence, including violent images and links to such materials;</li>
        <li>contains or installs any active malware or exploits, or uses our platform for exploit delivery (such as part of a command and control system);</li>
        <li>infringes on any proprietary right of any party, including patent, trademark, trade secret, copyright, right of publicity, or other rights.</li>
    </ul>
    <p class="ml-3">
        While using the Website, you agree that you will not under any circumstances:
    </p>
    <ul class="ml-3">
        <li>harass, abuse, threaten, or incite violence towards any individual or group, including our team, or other users;</li>
        <li>use our servers for any form of excessive automated bulk activity (for example, spamming), or relay any other form of unsolicited advertising or solicitation through our servers, such as get-rich-quick schemes;</li>
        <li>attempt to disrupt or tamper with evaluatepros's servers in ways that could harm our Website or Service, to place undue burden on our servers through automated means, or to access the Service in ways that exceed your authorization;</li>
        <li>violate the privacy of any third party, such as by posting another person's personal information without consent.</li>
    </ul>
    <p class="ml-3">
        You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without our express written permission.
    </p>
    <p class="ml-3">
        If we determine your bandwidth usage to be significantly excessive in relation to other users, we reserve the right to suspend your Account until you can reduce your bandwidth consumption.
    </p>
    <h2 class="ml-3">User-Generated Content</h2>
    <p class="ml-3">
        You are solely responsible for the content of , and for any harm resulting from, any User-Generated Content that you post, upload, link or otherwise make available via the Service, regardless of the form of that Content. We are not responsible for any public display or misuse of your User-Generated Content.
    </p>
    <p class="ml-3">
        We do not pre-screen User-Generated Content, but we have the right (though not the obligation) to refuse or remove any User-Generated Content that, in our sole discretion, violates any Our terms.
    </p>
    <p class="ml-3">
        You retain ownership of and responsibility for Your Content. If you're posting anything you did not create yourself or do not own the rights to, you agree that you are responsible for any Content you post; that you will only submit Content that you have the right to post.
    </p>
    <p class="ml-3">
        We need the legal right to do things like host Your Content, publish it, and share it. You grant us and our legal successors the right to store, parse, and display Your Content, and make incidental copies as necessary to render the Website and provide the Service. This includes the right to do things like copy it to our database and make backups; show it to you and other users; parse it into a search index or otherwise analyze it on our servers; share it with other users.
    </p>
    <h2 class="ml-3">Advertising</h2>
    <p class="ml-3">
        Advertising Content, like all Content, must not violate the law or these Terms of Use, for example through excessive bulk activity such as spamming. We reserve the right to remove any advertisements that, in our sole discretion, violate any Our terms.
    </p>
    <h2 class="ml-3">Disclaimer</h2>
    <p class="ml-3">
        evaluateprofs provide the Website and the Service “as is” and “as available,” without warranty of any kind. Without limiting this, we expressly disclaim all warranties, whether express, implied or statutory, regarding the Website and the Service including without limitation any warranty of merchantability, fitness for a particular purpose, title, security, accuracy and non-infringement.
    </p>
    <p class="ml-3">
        We does not warrant that the Service will meet your requirements; that the Service will be uninterrupted, timely, secure, or error-free; that the information provided through the Service is accurate, reliable or correct; that any defects or errors will be corrected; that the Service will be available at any particular time or location; or that the Service is free of viruses or other harmful components. You assume full responsibility and risk of loss resulting from your downloading and/or use of files, information, content or other material obtained from the Service.
    </p>
    <h2 class="ml-3">
        Limitation of Liability
    </h2>
    <p class="ml-3">
        You understand and agree that we will not be liable to you or any third party for any loss of profits, use, goodwill, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from
    </p>
    <ul class="ml-3">
        <li>the use, disclosure, or display of your User-Generated Content;</li>
        <li>your use or inability to use the Service;</li>
        <li>any modification, price change, suspension or discontinuance of the Service;</li>
        <li>the Service generally or the software or systems that make the Service available;</li>
        <li>unauthorized access to or alterations of your transmissions or data;</li>
        <li>statements or conduct of any third party on the Service;</li>
        <li>any other user interactions that you input or receive through your use of the Service; or</li>
        <li>any other matter relating to the Service.</li>
    </ul>
    <p class="ml-3">
        Our liability is limited whether or not we have been informed of the possibility of such damages, and even if a remedy set forth in this Agreement is found to have failed of its essential purpose. We will have no liability for any failure or delay due to matters beyond our reasonable control.
    </p>
    <h2 class="ml-3">Release and Indemnification</h2>
    <p class="ml-3">
        If you have a dispute with one or more Users, you agree to release the Website from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes. You agree to indemnify us, defend us, and hold us harmless from and against any and all claims, liabilities. 
    </p>
    <h2 class="ml-3">Changes to These Terms</h2>
    <p class="ml-3">
        We reserve the right, at our sole discretion, to amend these Terms of Service at any time and will update these Terms of Service in the event of any such amendments. We will notify our Users of material changes to this Agreement, such as price changes, at least one day prior to the change taking effect by posting a notice on our Website. For non-material modifications, your continued use of the Website constitutes agreement to our revisions of these Terms of Service. You can view all changes to these Terms in our Site Policy repository. We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Website (or any part of it) with or without notice.
    </p>
</div>
{% endblock %}